.imgcontainer {
  background: url("https://lh3.googleusercontent.com/Z8oy7HIbzaytK3EWiujuMSjHkqViyUaBfobM8ubPsk8rCqwG1FgD60bw6F6ZQKKwmbABb3IKWYzJizKYMbJL2tgqXyzhQpaJcvsFJEqI-sv1mX7BscSN77EjvJ1sHlK2dgnqNhlQYwQIPFWwDR_CGBuWLIVEHJzKE_ovWpjqdYkclJpXfyjNoRuZgQh7t0-9TqiFIR2L9eyHlLJqlN7Y-WG9ypckK0Jlp2Mqo7o_EhFcqhSD7_CjiagpBbMeABtPwmggUxnoJ6Hq--2E3sRbn0tPV-RxPjOvZAN_UrTqI1WBG4DujlhmLmR6GR-9myLXgADfH95lRmtzNl21wvYSb0_3kSu5prXUEK1BvVjiGYMxUKRNzIik7mb2C9j7GawayHDHXZsf3dQWYKWOWuaA0qgvUOU_QcnWNm_-Cu-JsBdSee2dSgz5NEzopxX58oc3EqbYIEDEh4bk-jDOhOeWmtN4dwYsbDTloh9HhdVlWNkwGfK4i1mtquGbGbSd2cCs5qvWmuU_3_SU433WbjaQglaznShuU_enFJ9ntyAAQ_cIWAxvPPGeCzXPcMonxEkXDs6cCNqg5m7K3xnW9s09NF2gR290ebHHbjx4Zyx_nL18NfG6Hqjxr8W8l9q6OJfSS-5EvBklIbsyUxQROTQ5qju_BLU6C_7cFzfV5C11Me85JAhlTdI3evCIWtnDObqlgg0ZHM_SJm7hHcJWUwFZi9rGu0sYZhzyjPTAcGL9tYldIgqtrBlOcXPgx_CN5g6aHuVbzkwHjKJWaIY56Bx1vYKggC2bQu-U-euByLQ6c7iUdIwq4Sm6I50I4XT1sm3AOtXYPpfgdWWJf4AR-IwUmeGD48r3Df_J-tTp=w1244-h933-no?authuser=1")
    no-repeat top center/cover;
  background-attachment: fixed;
  height: 300px;
}
.overlays {
  background-color: rgba(0, 0, 0, 0.3);
  height: inherit;
  width: inherit;
}
.texts {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: inherit;
}
