.imgcontainer {
  background: url("https://static.hbo.com/2022-06/house-of-the-dragon-ka-1920.jpg")
    no-repeat top center/cover;
  background-attachment: fixed;
  height: 300px;
}
.overlays {
  background-color: rgba(0, 0, 0, 0.3);
  height: inherit;
  width: inherit;
}
.texts {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: inherit;
}
